body {
  margin: 0;
  padding: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.controls {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.25rem;
  color: white;

  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  button {
    padding: 4px 10px;
    border-radius: 0.375rem;
    border: 1px solid rgba(225, 225, 225, 0.6);
    background: rgba(0, 0, 0, 0.75);
    color: white;
    cursor: pointer;
  }
}
